<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer" method="get">
    <label for="messageInput">Ask your coach anything:</label>
    <div class="form-group d-flex justify-content-center flex-grow-1">
      <input type="text" name="message" placeholder="Message" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>